
.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.start-button{
    border-radius: 20px;
    background: transparent;
    border: 2px dotted red;
    padding:7px 20px ;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.start-button:hover{
    background: red;
    color:white;
    
}